

.booking-hd{
  text-align: center;
  margin-bottom: 50px;
  }

  .dark-shade{
    background-color: rgb(221, 219, 219) !important;
    border-bottom: 1px solid rgb(177, 176, 176) !important;
    width: 216px;
  }
  
  .thead-light tr{
    height: 48px !important;
    

  }

  .confirm-booking-btn:hover{
    background-color: #1f5156;
    color: white;
    border: #fff;
  }
  .confirm-booking-btn:focus{
    border: none;
  }

  .confirm-booking-btn{
    background-color: #fff;
    color: #1f5156;
    border: 2px solid #1f5156;
    font-weight: bold;
  }


  /* MYBOOKINGS */

  .start-booking-btn{
    background-color: #1f5156;
    color: white;
    border: #1f5156;
  }

  .start-booking-btn:hover{
    background-color: #fff;
    color: #1f5156;
    border: 2px solid #1f5156;
  }
  .start-booking-btn:focus{
    border: none;
  }

  .error{
    width: 100%;
  }
  .h1dtl{
    margin-top: 0% !important;
    font-size: 20px;
  }
  .datename{
    font-family:monospace;
    font-size: 20px;
    color: black;
  }
  .datename1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color:black;
    
  }
  .mailtxt{
    font-size: x-small;
    color: red;
  }
  .payment-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .labelpaynow {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputpaynow {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttonpaynow{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  